<link rel="stylesheet" href="/css/home.css">

<home>
    <div id="lside">
        <h2>Truants</h2>

        <%if(locals.user) { %>
        <% for (u of all_users) { %>
        <p class="truantname">
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
        <% } %>
        <% } else { %>
        <p><a href="/users/sign-in">Log in</a> to see users.</p>
        <% } %>
    </div>

    <section id="feed-posts">
        <h1>Grapevine</h1>

        <% if (locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="What's cooking?" required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% for (post of posts) { %>

                <%- include('_post') -%>

                <% } %>
            </ul>
        </div>
    </section>

    <div id="rside">
        Lol 2
    </div>
</home>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
    $('.like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>