body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
}

body #layout-main {
  height: auto;
  min-height: 87%;
  /*flex: 1 0 auto;*/
}
